{% extends "base.html" %}

{% block content %}
    <h1>User: {{ current_user.username }}</h1>
    <h2><div class="batteryContainer">
      <div class="batteryOuter"><div id="batteryLevel" style="width:{{ device.battery_percentage }}px"></div></div>
      <div class="batteryBump"></div> Device: {{ device.location }}
    </div></h2>
    <hr>
    {% for cat in cats %}
    <p>
    <b><a href="{{ url_for ( 'cat', username=current_user.username, device_id=device.id, cat_id=cat_ids[loop.index0] ) }}">{{ cat.name }}</a><b>
    </p>
    {% endfor %}
{% endblock %}
