{% extends "base.html" %}

{% block content %}
    <h3 align="center">Location: {{ device.location }}</h3>
    <div style="margin: 0 auto">
    <div class="batteryContainer">
      <div class="batteryOuter"><div id="batteryLevel" style="width:{{ device.battery_percentage }}px"></div></div>
      <div class="batteryBump"></div>
      <br>

    </div>
    <div class="switch">
      Device:
      <label>
        Off
        {% if device.is_on %}
        <input type="checkbox" checked>
        {% else %}
        <input type="checkbox">
        {% endif %}
        <span class="lever"></span>
        On
      </label>
    </div>
    {% if device.is_charging %}
    <p>Charging</p>
    {% else %}
    <p>Not charging</p>
    {% endif %}
    <p> Remaining food: {{ device.food_percentage }} </p>
    <p>Last refilled:</p>
    <p>{{ device.get_time_after_last_refill() }}</p>
    </div>
    <hr>
    {% for cat in device.cats %}
  <div class="row">
    <div class="col s12 m3">
      <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/static/cats/{{ device.id }}_{{ cat.id }}.jpeg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ cat.name }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-action">
      <a href="/device/1/cat/{{ cat.id }}">Feeding Log</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ cat.name }}<i class="material-icons right">close</i></span>
      <p>Eats {{ cat.feeding_amount }} grams per meal</p>
      <p>Last fed:</p>
      <p>{{ cat.get_time_after_last_feeding() }}</p>
      
    </div>
  </div>
    </div>
    {% endfor %}
{% endblock %}
